<a href="https://colab.research.google.com/github/alybcksz/Airplane-Crashes-and-Fatalities-Regression/blob/main/pararius_web_scraping_and_turning_into_csv_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
from csv import writer

url= "https://www.pararius.com/apartments/amsterdam?ac=1"
page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')
lists = soup.find_all('section', class_="listing-search-item")

with open('housing.csv', 'w', encoding='utf8', newline='') as f:
    thewriter = writer(f)
    header = ['Title', 'Location', 'Price', 'Area']
    thewriter.writerow(header)

    for list in lists:
        title = list.find('a', class_="listing-search-item__link--title").text.replace('\n', '')
        location = list.find('div', class_="listing-search-item__sub-title").text.replace('\n', '')
        price = list.find('div', class_="listing-search-item__price").text.replace('\n', '')
        area = list.find('li', class_="illustrated-features__item illustrated-features__item--surface-area").text.replace('\n', '')
        
        info = [title, location, price, area]
        thewriter.writerow(info)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('housing.csv')

In [ ]:
df.head()

,Title,Location,Price,Area
0,Apartment Boterdiepstr...,1079 SV Amsterdam (Rijnbuurt),"€2,300 per month",73 m²
1,Apartment Bosboom Tous...,1054 AT Amsterdam (Helmersbuurt) ...,"€4,250 per month",155 m²
2,Apartment Johannes van...,1098 PG Amsterdam (Middenmeer) ...,"€2,950 per month",115 m²
3,Apartment Van Nijenrod...,1082 HL Amsterdam (Buitenveldert-W...,"€2,250 per month",80 m²
4,Apartment Rustenburger...,1072 HD Amsterdam (Nieuwe Pijp) ...,"€1,950 per month",60 m²

In [ ]:
df.shape

(32, 4)

In [ ]:
df.replace({"m²":"","€":"","per month":"",",":"."},regex = True,inplace = True)

In [ ]:
df[["Price","Area"]] = df[["Price","Area"]].astype('float')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     32 non-null     object
 1   Location  32 non-null     object
 2   Price     32 non-null     float64
 3   Area      32 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.1+ KB